name: Release Python Package To PyPI
on: [ workflow_dispatch ]

jobs:
  build:
    name: Release Python Package To PyPI
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@v2.3.4

       - name: Setup Python
         uses: actions/setup-python@v2.2.2
         with:
            python-version: 3.x

       - name: Install Dependencies
         run: |
           python -m pip install --upgrade pip
           pip install setuptools wheel twine

       - name: Run Setup
         run: python ./setup.py sdist bdist_wheel
      
       - name: Upload to PyPI
         uses: pypa/gh-action-pypi-publish@v1.4.2
         with:
           user: __token__
           password: ${{ secrets.PYPI_TOKEN }}
           repository_url: https://upload.pypi.org/legacy/
